# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.py text eol=lf
*.R text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.pkl binary
*.rds binary
*.h5 binary
*.hdf5 binary

# Jupyter Notebook files
*.ipynb text eol=lf

# Windows script files
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Shell scripts
*.sh text eol=lf



